body, html{
  margin: 0;
  padding: 0;
}

footer{
  position: absolute;
  bottom: 0;
}

.bg-image{
  background-image: url("/static/cup_books.jpg") ;
  background-size: cover;
  width: 1600px;
  height: 1000px;
  resize: none;
}
.opaque-bg{
  
  height: 100%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.4);
}


.input-form{
  display: block;
  margin: 10px;
}